body { text-align: start; }

h1 {
	margin-top: 10px;
	}
h2 {
	margin-bottom: 0;
	}

.registryItem {
	margin:1px;
	margin-left: 7.5%;
	margin-right: 32%;
	background-color:#f8f8f8;
	}
	
.registryItem h3 {
	margin:0px;
	padding:1.5%;
	width:97%;
	font-weight:normal;
	color:#fff;
	}
	
.registryItem h3 span.st {
	font-weight:bold;
	width:6em;
	display:block;
	float:left;
	}

#userDefined .registryItem h3 {
	color:#666;
	}

.registryItem ul {
	color:#444;
	margin: 0;
	padding-left: 6em;
	font-family:"Courier New", Courier, monospace;
	}
	
/* Coloring */
#listScripts h3 {
	background-color:#544;
	}
	
#listLanguages h3 {
	background-color:#454;
	}
	
#listRegions h3 {
	background-color:#445;
	}
	
#listVariant h3 {
	background-color:#455;
	}
	
#listExtlang h3 {
	background-color: #F90;  ;
	}
	
#listGrand h3 {
	background-color:#554;
	}
	
#listRedundant h3 {
	background-color:#545;
	}

/* Form */	
form {
	font-size: 95%;
	color: gray;
	text-align: left;
	}
	
form select, form select option, form input {
	color: gray;
	font-size: 100%;
	}

button[type="submit"] {
    background-color: #EEE;
}
button {
    color: #0C3;
    font-size: 100%;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #DDD;
}

#registryForm fieldset {
	border: 0;
	padding: 0;	
	display: inline;
	}

#registryForm fieldset p {
	margin-left: 0;
	margin-right: 0;
	}
	
.radio {
	white-space: nowrap; 
	}
	
#form strong {
	color: brown;
	}

form {
	display: inline;
	}
	
.stname {
	color:#C30; 
	font-style: italic;
	}
.explanation { font-size: 70%; color:#C30; line-height: 1.2em; margin-top: 4em; }
.notenumber { font-size: 120%; color:#C30; }
.registryitem img { vertical-align: middle; }
sub { color:#C30; font-style: italic; }

.comments { margin-left: 50px; margin-bottom: 5px; }
.task { font-size: 200%; font-weight:bold; color: #669;  }

#search { float: left; width: 30%; margin: 0 0 0 3%; padding: 1%; }
#check { float: left; width: 30%; margin: 0; padding: 1%; }
#search p, #check p { margin: 0 0 20px 0; }

#author { margin-top:0; }

#search p, #check p {
	border: 1px solid #ccc;
	-o-box-shadow: 3px 3px 5px #888;
	-icab-box-shadow: 3px 3px 5px #888;
	-khtml-box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 3px 3px 5px #ccc;
	-webkit-box-shadow: 3px 3px 5px #ccc;
	box-shadow: 3px 3px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	}

#resultTable td { border: 1px solid #ccc; border: 0; padding: 0 20px; text-align: left; vertical-align:bottom; }
.originalNumber { font-size: 30px; color: #999; }

#output { color: #C33; margin: 1em 30% 2em 7.5%; line-height: 1.2em; }
#output th { font-size: 50px; font-weight: normal; }
#output th, #output td { text-align: left; vertical-align: top; padding: 10px; }
thead th { text-align: left; }

#langDetails { color: #C33; margin: 1em 30% 2em 7.5%; line-height: 1.2em; min-width: 70%;}
#langDetails th { color:#777; font-weight: normal; }
#langDetails th, #langDetails td { text-align: left; vertical-align: top; padding: 10px; }
#langDetails  td.large { font-size: 1.7em; line-height: 1.5; }
#langDetails  td.small { font-size: 1.2em; line-height: 1.5; }
#langDetails  td.sources { font-size: 0.9em; line-height: 1.5; }
#langDetails  td.other { font-size: 0.9em; line-height: 1.5; }
#langDetails th { text-align: right;  width:5em; }

.inputbox { width: 100%; border-radius: 10px; border: 2px solid #eee; }
#characters { font-size: 300%; }
#rules { height: 100px; }
.original { color: #999; font-size: 14px;  margin: 0 2px; }
.hidden { display:none; }

#languageSelector {
	color: #0C3;
	font-size: 80%;
	border-radius: 10px;
	line-height: 1.5em;
	padding: 5px;
	border: 1px solid #DDD;
	width: 100%;
	}
.ulink {
	float: right;
	vertical-align: bottom;
	}

#output span, #languageByRegion span, #languageByScript span {
	cursor: pointer;
	}
#languageByRegion td, #languageByScript td {
    text-align: left;
    padding: .5em;
    vertical-align: top;
    font-size: 90%;
    }
#languageByRegion th, #languageByScript th {
    padding: 1em;
    vertical-align: top;
    }
table {
    margin: 1em 3em 2em 10%;
    }

#comparisonInput {
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
#comparisonInput p {
    margin: 0;
    font-size: 90%;
    text-align: start;
    }
#comparisonInput textarea {
    margin-right: 1em;
    border-radius: 2px;
    box-shadow: unset;
    border: 1px solid #ccc;
}

.infrequent {
	font-size: 20px; line-height: 1.5;
	}

#langDetails td.links {
	border: 0;
    vertical-align: top;
    padding: .5em .25em;
    text-align: center;
	}





